body{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color:rgb(172, 167, 167)
}
h1{
   
}
.main-content{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;

}
.slidecontainer{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.display{
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.container{
    width: 500px;
    height: 500px;
    border: 2px solid black; 
    display: flex;
    flex-wrap: wrap;
    margin: 50px;
    margin-top: 10px;
    
}
.cell{
    border: .5px solid rgb(172, 167, 167); 
    box-sizing: border-box;
}
.settings{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}
.color-buttons{
    display: flex;
    flex-direction: column;
    margin: 10px;
}
button{
    margin: 2px;
}

@media only screen and (max-width: 920px) {
    .settings {
      justify-content: center;
      align-items: center;
      margin-top: 0;
      margin-left: 100px;
    }
    .color-buttons{
        flex-direction: row;
    }
    .container{
        margin-top: 20px;
        margin-bottom: 20px; 
    }
  }

  @media only screen and (max-width: 775px) {
    .settings {
      justify-content: center;
      align-items: center;
      margin-top: 0;
      margin-left: 0px;
    }
    .color-buttons{
        flex-direction: row;
    }
    .container{
        margin-top: 20px;
    }
    .slidecontainer{
        margin-top: 20px;
      }
  } 